body {
    font-family: Arial;
    background-color: #eef2f3;
    text-align: center;
}

h1 {
    color: #222;
}

.form input {
    padding: 8px;
    margin: 5px;
}

table {
    margin: auto;
    width: 80%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #000;
    padding: 10px;
}

th {
    background-color: #673AB7;
    color: white;
}

button {
    padding: 6px 12px;
    margin: 2px;
}
