body {
    font-family: Arial;
    background-color: #f4f4f4;
    text-align: center;
}

h1 {
    color: #333;
}

.form input {
    padding: 8px;
    margin: 5px;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 80%;
}

th, td {
    border: 1px solid #333;
    padding: 10px;
}

th {
    background-color: #2196F3;
    color: white;
}

button {
    padding: 6px 10px;
    margin: 2px;
}
